<!DOCTYPE html>
<html>
  <head>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>ZigMonitor Interface</title>
    <style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      

      #map {
        height: 100%;
        
      }
       #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }


    
      #table_div{}
      #closeButton {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
       
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
  </head>
  <body>
   
    <div id="map"></div>


    <a class="fragment">
    <button id="closeButton">X</button>
     <div id="table_div"> </div>
     </a>

    <div id="legend"><h3>Legenda</h3></div>
    <script>
    //botao para voltar ao estado inicial

  // var delay = 30000;
  // setTimeout(function() {
  //   window.location.reload(true);
  // }, delay);




    //botao para fechar a tabela
     document.getElementById('closeButton').addEventListener('click', function(e) {
    /*e.preventDefault();
    this.parentNode.style.display = 'none';*/
    $('#table_div').slideUp();
    $('#closeButton').hide();
}, false);


    google.charts.load('current', {'packages':['table']});
    var flagdraw =0;
    var arrayLine =[];
    var overviewMarkers = [];
    var infowindows = [];
    var infowindowsM = [];
    var distances = [];
    var macs = [];
    var markers = [];
    var aniMarkers = [];
    var cont;
    var map;
    var oLat, oLng;
    var flagmark=0;
    var divlegs = [];
    var icons = {
          0: {
            name: 'Disponibilidade Alta',
            icon: 'http://i68.tinypic.com/30cyt53.png'
          },
          1: {
            name: 'Disponibilidade Regular',
            icon: 'http://i68.tinypic.com/10zqzhh.jpg'
          },
          2: {
            name: 'Disponibilidade Baixa',
            icon: 'http://i63.tinypic.com/mj8kz4.png'
          },
          3: {
            name: 'Indisponível',
            icon: 'http://i63.tinypic.com/2dloubl.png'
          },
          4: {
            name: 'Custo Baixo',
            icon: 'http://i66.tinypic.com/rkugw9.png'
          },
          5: {
            name: 'Custo Médio',
            icon: 'http://i63.tinypic.com/ao98o3.png'
          },
          6: {
            name: 'Custo Alto',
            icon: 'http://i68.tinypic.com/a9w8m1.png'
          }         
      };



function reloadPage(reloadDiv,map){
                var reloadUI = document.createElement('div');
                reloadUI.style.backgroundColor = '#fff';
                reloadUI.style.border = '2px solid #fff';
                reloadUI.style.borderRadius = '3px';
                reloadUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                reloadUI.style.cursor = 'pointer';
                reloadUI.style.marginBottom = '22px';
                reloadUI.style.textAlign = 'center';
                reloadUI.title = 'Clique para regarregar a página';
                reloadDiv.appendChild(reloadUI);

                // Set CSS for the control interior.
                var reloadText = document.createElement('div');
                reloadText.style.color = 'rgb(25,25,25)';
                reloadText.style.fontFamily = 'Roboto,Arial,sans-serif';
                reloadText.style.fontSize = '16px';
                reloadText.style.lineHeight = '38px';
                reloadText.style.paddingLeft = '5px';
                reloadText.style.paddingRight = '5px';
                reloadText.innerHTML = 'Recarregar Página';
                reloadUI.appendChild(reloadText);

                // Setup the click event listeners: simply set the map to Chicago.
                reloadUI.addEventListener('click', function() {
                  window.location.reload(true);
                });

}


function statsPage(statsDiv,map){
                var statsUI = document.createElement('div');
                statsUI.style.backgroundColor = '#fff';
                statsUI.style.border = '2px solid #fff';
                statsUI.style.borderRadius = '3px';
                statsUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                statsUI.style.cursor = 'pointer';
                statsUI.style.marginBottom = '22px';
                statsUI.style.textAlign = 'center';
                statsUI.title = 'Clique para visualizar estatísticas';
                statsDiv.appendChild(statsUI);

                // Set CSS for the control interior.
                var statsText = document.createElement('div');
                statsText.style.color = 'rgb(25,25,25)';
                statsText.style.fontFamily = 'Roboto,Arial,sans-serif';
                statsText.style.fontSize = '16px';
                statsText.style.lineHeight = '38px';
                statsText.style.paddingLeft = '5px';
                statsText.style.paddingRight = '5px';
                statsText.innerHTML = 'Estatísticas';
                statsUI.appendChild(statsText);
                
                statsUI.addEventListener('click', function() {
                  window.location = "http://localhost:8000/gmaps/api/gmapse";
                });
                

}



function CenterControl(controlDiv, map) {
  $.getJSON('http://localhost:8000/gmaps/api/postes', function(userPos) {
                // Set CSS for the control border.
                var controlUI = document.createElement('div');
                controlUI.style.backgroundColor = '#fff';
                controlUI.style.border = '2px solid #fff';
                controlUI.style.borderRadius = '3px';
                controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                controlUI.style.cursor = 'pointer';
                controlUI.style.marginBottom = '22px';
                controlUI.style.textAlign = 'center';
                controlUI.title = 'Clique para voltar ao estado inicial';
                controlDiv.appendChild(controlUI);

                // Set CSS for the control interior.
                var controlText = document.createElement('div');
                controlText.style.color = 'rgb(25,25,25)';
                controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
                controlText.style.fontSize = '16px';
                controlText.style.lineHeight = '38px';
                controlText.style.paddingLeft = '5px';
                controlText.style.paddingRight = '5px';
                controlText.innerHTML = 'Estado Inicial';
                controlUI.appendChild(controlText);

                // Setup the click event listeners: simply set the map to Chicago.
                controlUI.addEventListener('click', function() {
                      setLines(null); 
                      setWindowM(null);
                      setWindow(null);
                      setaniMarkers(null);
                      $('#table_div').slideUp();
                      $('#closeButton').hide();
                      map.setZoom(17);
                      var myLatLng = {lat: -25.384455, lng: -49.266728};
                      map.setCenter(myLatLng);

                      //reseta a legenda

                      for (var i = 5; i<=7;i++) {
                        
                        {
                          
                     
                        legend.removeChild(legend.childNodes[(5)]);
                         
                        }
                        
                      }
                      flagmark = 0;
                      flagdraw = 0;
                    
              //map.setCenter(myLatLng);
                      for (var l = 0, length = userPos.length; l <  length; l++) {
                          if(userPos[l][5].length < 1 )
                          {
                          status = 'http://i63.tinypic.com/2dloubl.png';
                          }
                          if(userPos[l][5].length >= 1 &&  userPos[l][5].length < 3)
                          {
                          status = 'http://i63.tinypic.com/mj8kz4.png';
                          }
                          else if(userPos[l][5].length >= 3 && userPos[l][5].length < 9 )
                          {
                          status = 'http://i68.tinypic.com/10zqzhh.jpg';
                          }
                          else if(userPos[l][5].length > 9 )
                          {
                          status = 'http://i68.tinypic.com/30cyt53.png';
                          }

                          overviewMarkers[l].setIcon(status);
                }
                            
                });
            });
          }
/*Execução*/

function setMarker(map) {
   $('#closeButton').hide();

    $.getJSON('http://localhost:8000/gmaps/api/postes', function(userPos) {


            


           map.addListener('dblclick', function() {
            setLines(null); 
            setWindowM(null);
            setWindow(null);
            setaniMarkers(null);
            $('#table_div').slideUp();
            $('#closeButton').hide();
            //map.setZoom(17);
            var myLatLng = {lat: -25.384455, lng: -49.266728};

            //reseta a legenda

                    for (var i = 5; i<=7;i++) {
                      
                      {
                        
                   
                      legend.removeChild(legend.childNodes[(5)]);
                       
                      }
                      
                    }
                    flagmark = 0;
                    flagdraw = 0;
                  
            //map.setCenter(myLatLng);
             for (var l = 0, length = userPos.length; l <  length; l++) {
                        if(userPos[l][5].length < 1 )
                        {
                        status = 'http://i63.tinypic.com/2dloubl.png';
                        }
                        if(userPos[l][5].length >= 1 &&  userPos[l][5].length < 3)
                        {
                        status = 'http://i63.tinypic.com/mj8kz4.png';
                        }
                        else if(userPos[l][5].length >= 3 && userPos[l][5].length < 9 )
                        {
                        status = 'http://i68.tinypic.com/10zqzhh.jpg';
                        }
                        else if(userPos[l][5].length > 9 )
                        {
                        status = 'http://i68.tinypic.com/30cyt53.png';
                        }

                        overviewMarkers[l].setIcon(status);
              }
          });
          var infowindow = new google.maps.InfoWindow(), marker, i;
          var infowindow1 = new google.maps.InfoWindow(), link, i;
          var cont=0;
          //window.alert(userPos["pontos"].length);
          //window.alert(userPos.length);
          //window.alert(userPos[0][3].length);

          for (var i = 0, length = userPos.length; i <  length; i++) {
              
              //var data = json[i];
              //window.alert(userPos["postes"].length);
              //window.alert('i: '+i);
              
              userLat = userPos[i][3];
              userLon = userPos[i][4];
              var position = new google.maps.LatLng(userLat,userLon);
              var status;

              //var flag = 0,j=0;

              /* status do icone */
             
             // window.alert(userPos["pontos"][i].estado)
             //window.alert(userPos[i][3].length);
              if(userPos[i][5].length < 1 )
              {
              status = 'http://i63.tinypic.com/2dloubl.png';
              }
              if(userPos[i][5].length >= 1 &&  userPos[i][5].length < 3)
              {
              status = 'http://i63.tinypic.com/mj8kz4.png';
              }
              else if(userPos[i][5].length >= 3 && userPos[i][5].length < 9 )
              {
              status = 'http://i68.tinypic.com/10zqzhh.jpg';
              }
              else if(userPos[i][5].length > 9 )
              {
              status = 'http://i68.tinypic.com/30cyt53.png';
              }
              
              //window.alert(position);
              var icon = {url: status};
              var marker = new google.maps.Marker({
                  position: position,
                  map:map,
                  icon: icon,
              });
          

          overviewMarkers.push(marker);




        google.maps.event.addListener(marker, 'click', (function (marker, i) {
         
          
            return function () {
                 //ATUALIZA A LEGENDA
                if(flagmark == 0){
                    flagmark = 1;
                   
                    for (var key in icons) {
                      if(key >  3)
                      {
                        
                        var type = icons[key];
                        var name = type.name;
                        var icon = type.icon;
                        var div = document.createElement('div');
                        div.innerHTML = '<img src="' + icon + '"> ' + name;
                        legend.appendChild(div);
                        
                      }
                      
                    }
                  }


                if(flagdraw == 1)
                {
                  drawChart(i);

                }
                setLines(null); 
                setWindow(null); 
                setaniMarkers(null);
                //setMarkers1(null); 
                
                for (var l = 0, length = userPos.length; l <  length; l++) {
                  if(userPos[l][5].length < 1 )
                  {
                  status = 'http://i63.tinypic.com/2dloubl.png';
                  }
                  if(userPos[l][5].length >= 1 &&  userPos[l][5].length < 3)
                  {
                  status = 'http://i63.tinypic.com/mj8kz4.png';
                  }
                  else if(userPos[l][5].length >= 3 && userPos[l][5].length < 9 )
                  {
                  status = 'http://i68.tinypic.com/10zqzhh.jpg';
                  }
                  else if(userPos[l][5].length > 9 )
                  {
                  status = 'http://i68.tinypic.com/30cyt53.png';
                  }

                  overviewMarkers[l].setIcon(status);
                }
                /*var node = document.getElementById('table_div');

              $(document).ready(function(){
              
              //$("#table_div").hide();
             
              });*/
                  

                     
                  for (var j = 0; j<userPos.length ; j++){
                    var contv= 0;
                    for (var k = 0, length = userPos[i][5].length; k < length ; k++) {
                      //window.alert("length" + userPos[i][5].length +"contv"+ contv );
                      if(userPos[j][0]==userPos[i][5][k].nwkAdr){
                        contv++;
                      }
                      if(k == userPos[i][5].length -1 && contv == 0 && i != j){
                        var newIcon = {url: 'http://i64.tinypic.com/34srt6g.png', scaledSize: new google.maps.Size(50,50),};
                        //window.alert(overviewMarkers[j].getIcon());
                        overviewMarkers[j].setIcon(newIcon);
                        //overviewMarkers[j].setVisible(false);
                      }
                    }
                  }



                var newIcon1 = {url: marker.getIcon(), scaledSize: new google.maps.Size(18,65),};
                marker.setIcon(newIcon1);


                var originPoint = this.getPosition();
                var oLat = parseFloat(this.getPosition().lat());
                var oLng = parseFloat(this.getPosition().lng());
                var cont1 =0;
                for (var k = 0, length = userPos[i][5].length; k < length ; k++) {
                  for (var j = 0; j<userPos.length ; j++){

                    if(userPos[i][5][k].nwkAdr==userPos[j][0]){
                      cont1+=1;

                      //window.alert(userPos[i][3][k].nwkAdr);
                      //window.alert(userPos[j][0]);
                      var coord = [

                      {lat: userPos[i][3], lng: userPos[i][4]},
                      {lat: userPos[j][3], lng: userPos[j][4]}
                      ];




                      var color;

                      var out1 = (userPos[i][5][k].tot_out_cost/userPos[i][5][k].tot_pkt).toFixed(2);
                      var in1 = (userPos[i][5][k].tot_in_cost/userPos[i][5][k].tot_pkt).toFixed(2);            

                      if (in1 < out1)
                        men = out1;
                      else if (in1 >= out1)
                        men = in1;

                      if(men > 5)
                        color =  '#FF0000';
                      else if((men > 3) && (men <= 5))
                        color = '#FFFF00';
                      else if (men <= 3)
                        color = '#00FF00'


                      var lineSymbol = {
                      path: google.maps.SymbolPath.CIRCLE,
                      scale: 4.5
                      };
                      var link = new google.maps.Polyline({
                      path: coord,
                      geodesic: true,
                      strokeColor: color,
                      strokeOpacity: 1.0,
                      strokeWeight: 7.5,
                      icons: [{
                      icon: lineSymbol,
                      scale: 40,
                      offset: '50%'
                      }]

                      });
                      
                        link.setMap(map);
                        arrayLine.push(link);
           

                      //REALÇA AS MARKERS CONECTADAS COM O VIZINHO



                      /*status1 = 'http://i63.tinypic.com/sqkvpf.png';


                      var icon1 = {
                      url:status,
                      scaledSize: new google.maps.Size(66, 66) // scaled size

                      };/*

                      userLat1 = userPos[j][3];
                      userLon1 = userPos[j][4];
                      var position1 = new google.maps.LatLng(userLat1,userLon1);
                      var marker1 = new google.maps.Marker({
                      position: position1,
                      map:map,
                      icon:icon1

                      });

                      
                      markers.push(marker1);*/
                      
                      





                      google.maps.event.addListener(link, 'click', (function(link, i, k, j) {
                      return function() {
                      setWindow(null); 
                      //cont = 0;
                      /* Calculate the distance between two points */
                      var R = 36000; // metres
                      var p1 = userPos[i][3] * Math.PI /180;
                      var p2 = userPos[j][3]* Math.PI /180;

                      //window.alert(p1);

                      var vp = (userPos[j][3]-userPos[i][3]) * Math.PI;
                      var vl = (userPos[j][4]-userPos[i][4]) * Math.PI;

                      var a = Math.sin(vp/2) * Math.sin(vp/2) +
                          Math.cos(p1) * Math.cos(p2) *
                          Math.sin(vl/2) * Math.sin(vl/2);
                      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

                      var distance = R * c;
                      var cs = 0;
                      var ce = 0;
                      //infowindow.setContent(userPos["pontos"][i].nome+'<br>'+userPos["pontos"][i].desc);
                      if(userPos[i][5][k].tot_out_cost == 0 && userPos[i][5][k].tot_in_cost > 0)
                      {
                        //window.alert(userPos[i][5][k].tot_out_cost);
                        infowindow1.setContent('Distância: ' + distance.toFixed(0) + ' <br>Custo Médio de entrada: ' + (userPos[i][5][k].tot_in_cost/userPos[i][5][k].tot_pkt).toFixed(2) + '<br>Custo Médio de saída: -');
                      }
                      else if (userPos[i][5][k].tot_out_cost > 0 && userPos[i][5][k].tot_in_cost > 0)
                      {
                        //window.alert(userPos[i][5][k].tot_out_cost);
                        infowindow1.setContent('Distância: '+ distance.toFixed(0) + '<br>Custo Médio de entrada: ' + (userPos[i][5][k].tot_in_cost/userPos[i][5][k].tot_pkt).toFixed(2)+ '<br>Custo de saída: '+ (userPos[i][5][k].tot_out_cost/userPos[i][5][k].tot_pkt).toFixed(2));
                      }
                      else if(userPos[i][5][k].tot_in_cost == 0 && userPos[i][5][k].tot_out_cost > 0)
                        infowindow1.setContent('Distância: '+ distance.toFixed(0)  + '<br>Custo Médio de entrada: - '+ '<br>Custo Médio de saída: '+ (userPos[i][5][k].tot_out_cost/userPos[i][5][k].tot_pkt).toFixed(2));
                     
                      

                      //infowindow1.setContent('Distância: '+ distance.toFixed(0) + '<br>Custo de saída: '+ (cs).toFixed(2) + '<br>Custo de entrada: ' + (ce).toFixed(2));
                      //infowindow.setContent('<p><b>Intensidade: </b> '+userPos["links"][i].intensidade );
                      //window.alert('pos1:'+userPos[i][1]+'pos2'+userPos[j][1]+'div'+(userPos[i][1] + userPos[j][1])/2);
                      mLat = (userPos[i][3]+userPos[j][3])/2;
                      mLon = (userPos[i][4]+userPos[j][4])/2;
                      var position1 = new google.maps.LatLng(mLat,mLon);
                      infowindow1.setPosition(position1);
                      infowindow1.open(map);

                      // contagem provisória de vizinhos
                      cont1 = cont1 + 1;
                      //
                      infowindows.push(infowindow1);
                      //infowindowsM.push(infowindow1);
                      //drawChart(link);
                      }
                      })(link, i, k, j));
                    }
                    
                 
                  

                  }
                 
                }
                infowindow.setContent('Endereço de Rede: ' + userPos[i][0] + '<br>' +'MEndereço MAC: ' + userPos[i][1] + '<br>' + ' Número de vizinhos: ' + cont1 +'<br>' + "<a href='javascript:drawChart("+i+");'>Lista de Vizinhos</a>");
                infowindow.open(map, marker);
                infowindowsM.push(infowindow);
                  };
                    })(marker, i));
                /*
              */

           }
            
          });
        }       


        function drawChart(i) {

          $.getJSON('http://localhost:8000/gmaps/api/postes', function(userPos) {
            $('#table_div').slideDown();
            $('#closeButton').show();
              flagdraw=1;
              //window.alert(userPos["pontos"].length);
              //window.alert(userPos.length);
              //window.alert(userPos[0][3].length);
                 // Create the data table.
                          //window.alert('oi');


               

                var data = new google.visualization.DataTable();
               data.addColumn('string', 'Endereço de Rede');
               data.addColumn('string', 'Endereço MAC');
               data.addColumn('string', 'Custo Médio de Entrada');
               data.addColumn('string', 'Custo Médio de Saída');
               data.addColumn('number', 'Assiduidade (%)');
               data.addColumn('number', 'Distancia (m)');
              //window.alert(userPos[i][3].length);
              //var l = 0
              distances = [];
              macs = [];

              

              /*for (var k = 0, length = userPos[i][5].length; k < length ; k++) {
                for (var j = 0; j < userPos.length ; j++){    


                      //data.addColumn('boolean', 'Full Time Employee');
                      //window.alert(userPos[i][3][k].nwkAdr);
                      if(userPos[i][5][k].nwkAdr==userPos[j][0])
                      {
                          var R = 36000; // metres
                          var p1 = userPos[i][3] * Math.PI /180;
                          var p2 = userPos[j][3]* Math.PI /180;

                          //window.alert(p1);
                          
                          var vp = (userPos[j][3]-userPos[i][3]) * Math.PI;
                          var vl = (userPos[j][4]-userPos[i][4]) * Math.PI;

                          var a = Math.sin(vp/2) * Math.sin(vp/2) +
                                  Math.cos(p1) * Math.cos(p2) *
                                  Math.sin(vl/2) * Math.sin(vl/2);
                          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

                          var distance = R * c;
                        
                          distances.push(distance);
                          macs.push(userPos[j][1])
                         //window.alert(userPos[j][1]);
                          //l = l + 1; 
                      }
                  }
                }*/

              for (var k = 0, length = userPos[i][5].length; k < length ; k++) {
                
                  for (var j = 0; j < userPos.length ; j++){    


                      //data.addColumn('boolean', 'Full Time Employee');
                      //window.alert(userPos[i][3][k].nwkAdr);
                      if(userPos[i][5][k].nwkAdr==userPos[j][0])
                      {
                          var R = 36000; // metres
                          var p1 = userPos[i][3] * Math.PI /180;
                          var p2 = userPos[j][3]* Math.PI /180;

                          //window.alert(p1);
                          
                          var vp = (userPos[j][3]-userPos[i][3]) * Math.PI;
                          var vl = (userPos[j][4]-userPos[i][4]) * Math.PI;

                          var a = Math.sin(vp/2) * Math.sin(vp/2) +
                                  Math.cos(p1) * Math.cos(p2) *
                                  Math.sin(vl/2) * Math.sin(vl/2);
                          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

                          var distance = R * c;
                        
                          distances.push(distance);
                          macs.push(userPos[j][1])
                         //window.alert(userPos[j][1]);
                         //window.alert('tot'+userPos[i][2]);
                         //window.alert('pkt'+userPos[i][5][k].tot_pkt);
                          if(userPos[i][5][k].tot_out_cost == 0 && userPos[i][5][k].tot_in_cost > 0)
                          {
                            //window.alert(userPos[i][5][k].tot_out_cost);
                              data.addRow([
                            userPos[i][5][k].nwkAdr, userPos[j][1] , String((userPos[i][5][k].tot_in_cost/userPos[i][5][k].tot_pkt).toFixed(2)), '-',100*userPos[i][5][k].tot_pkt/userPos[i][2], distance
                            ]);
                          }
                          else if (userPos[i][5][k].tot_out_cost > 0 && userPos[i][5][k].tot_in_cost > 0)
                          { 
                            data.addRow([
                          userPos[i][5][k].nwkAdr, userPos[j][1] , String((userPos[i][5][k].tot_in_cost/userPos[i][5][k].tot_pkt).toFixed(2)), String((userPos[i][5][k].tot_out_cost/userPos[i][5][k].tot_pkt).toFixed(2)),100*userPos[i][5][k].tot_pkt/userPos[i][2], distance
                          ]);
                          }
                          else if(userPos[i][5][k].tot_in_cost == 0 && userPos[i][5][k].tot_out_cost > 0)
                          {
                              data.addRow([
                              userPos[i][5][k].nwkAdr, userPos[j][1] , '-', String((userPos[i][5][k].tot_out_cost/userPos[i][5][k].tot_pkt).toFixed(2)),100*userPos[i][5][k].tot_pkt/userPos[i][2], distance
                              ]);
                          }    
                        }
                    }
                }
                    var infoWindow  = new google.maps.InfoWindow();
                    var node        = document.getElementById('table_div');
                    var table = new google.visualization.Table(node);
                    var selflag = 0;
                    var valueold = [];

                          function selectHandler() {
                              var selectedItem = table.getSelection()[0];
                              setaniMarkers(null);
                              if (selectedItem) 
                              {
                                var value = data.getValue(selectedItem.row,0);
                                for (var k = 0, length = userPos.length; k < length ; k++) {
                                      if(userPos[k][0]==value)
                                      {
                                        overviewMarkers[k].setAnimation(google.maps.Animation.BOUNCE);
                                        aniMarkers.push(overviewMarkers[k]);
                                      }
                                }
                                selflag = 1;
                              }
                          }
                          google.visualization.events.addListener(table, 'select', selectHandler);
                          table.draw(data, { width: '100%', height: '30%'});
                          //map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(node);
          });

                    window.scrollTo(0,200);
        }
              /*
              function myclick(i) {

                var info = new google.maps.InfoWindow(),i;
                //removeWindow();
                 //window.alert(i);
                  //IMPORTANTEEEEE google.maps.event.trigger(overviewMarkers[i+1], "click");

                 info.setContent('<table><tr><td>1.1</td><td>1.2</td></tr><tr><td>2.1</td><td>2.2</td></tr></table>');
                 Lat1 = -25.384553;
                 Lon1 = -49.263350;
                 var position1 = new google.maps.LatLng(mLat,mLon);
                 info.setPosition(position1);
                 info.open(map);
                 infowindows.push(info);
                 setWindow();
                 
              } */



                var arrayLine = [];
                var originPoint = [new google.maps.LatLng(oLat, oLng)];
                
               /* var lineSymbol = {
                    path: google.maps.SymbolPath.FORWARD_OPEN_ARROW
                };*/

                function addLine() {
                    setLines(map);
                    // alert(parseFloat(oLat));
                }

                google.maps.event.addDomListener(window, 'load', setMarkers);

                function setLines(map) {
                    for (var i = 0; i < arrayLine.length; i++) {
                        arrayLine[i].setMap(map);
                    }
                }
                function removeLine() {
                   setLines(null);   
                }
                function setWindow(map) {
                   for (var i = 0; i < infowindows.length; i++) {
                        infowindows[i].setMap(map);
                    } 
                }
                function removeWindow() {
                   setWindow(null);   
                }
                function setWindowM(map) {
                   for (var i = 0; i < infowindowsM.length; i++) {
                        infowindowsM[i].setMap(map);
                    } 
                }
                function removeWindowM() {
                   setWindowM(null);   
                }
                function setMarkers1(map) {
                   for (var i = 0; i < overviewMarkers.length; i++) {
                        overviewMarkers[i].setMap(map);
                    } 
                }
                function removeMarkers1() {
                   setMarkers1(null);   
                }
                function setaniMarkers(map) {
                   for (var i = 0; i < aniMarkers.length; i++) {
                        aniMarkers[i].setAnimation(map);
                    } 
                }
                function removeMarkers1() {
                   setMarkers1(null);   
                }
                



          
                    //window.alert('cont: '+ cont);
     

 
/*
function setLinks(map) {

    $.getJSON('http://localhost:8000/gmaps/api/postes', function(userPos) {
       /*var infowindow = new google.maps.InfoWindow(), marker, i;
       window.alert(userPos["pontos"].length);
      for (var i = 0, length = userPos["links"].length; i <  length; i++) {
        //var data = json[i];
        //window.alert(userPos["links"][i].raiz);
        j = userPos["links"][i].raiz-1;
        k = userPos["links"][i].destino-1;
        //window.alert(userPos["pontos"][j].lat);
        var coord = [
        {lat: userPos["pontos"][j].lat, lng: userPos["pontos"][j].lng},
        {lat: userPos["pontos"][k].lat, lng: userPos["pontos"][k].lng}
        ];
        var color;
        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
          scale: 2.5
        };

        if(userPos["links"][i].intensidade >= 7)
        {
          color = '#00FF00'
        }
        else if(userPos["links"][i].intensidade >= 4 && userPos["links"][i].intensidade < 7)
        {
          color = '#FFFF00'
        }
        else if(userPos["links"][i].intensidade < 4)
        {
          color = '#FF0000'
        }
        var link = new google.maps.Polyline({
          path: coord,
          geodesic: true,
          strokeColor: color,
          strokeOpacity: 1.0,
          strokeWeight: 2,
          icons: [{
          icon: lineSymbol,
          offset: '45%',


          }]

        });

        link.setMap(map);

         google.maps.event.addListener(link, 'click', (function(link, i) {
            return function() {

                //infowindow.setContent(userPos["pontos"][i].nome+'<br>'+userPos["pontos"][i].desc);
                window.alert('Intensidade:'+userPos["links"][i].intensidade );
                //infowindow.setContent('<p><b>Intensidade: </b> '+userPos["links"][i].intensidade );
                infowindow.open(map,link);
            }
        })(link, i));


        
         
                

        // A function that checks if the user has a new position and set marker there
       } 
    });
};*/
   

function initMap() {
  var myLatLng = {lat: -25.384455, lng: -49.266728};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng,
    disableDoubleClickZoom: true
  });
     //window.alert(6);
     //window.alert(postes[0][1]);

    var reload = document.createElement('div');
    var reloadpage = new reloadPage(reload, map);
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(reload);

    var stats = document.createElement('div');
    var statspage = new statsPage(stats, map);
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(stats);

    var centerControlDiv = document.createElement('div');
    var centerControl = new CenterControl(centerControlDiv, map);
    

    //centerControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(centerControlDiv);

    
 
  var legend = document.getElementById('legend');
        for (var key in icons) {
          //window.alert(key);
          if(key <=3){
                    var type = icons[key];
                    var name = type.name;
                    var icon = type.icon;
                    var div = document.createElement('div');
                    div.innerHTML = '<img src="' + icon + '"> ' + name;
                    legend.appendChild(div);
                  }
        }
   map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(legend);

  


 

      
  setMarker(map);
  //setLinks(map);

   
}



/*function setMarkers(map, markers) {   
     var infowindow = new google.maps.InfoWindow(), marker, i;
      for (i = 0; i < markers.length; i++) {  
          marker = new google.maps.Marker({
              position: new google.maps.LatLng(markers[i][1], markers[i][2]),
              map: map
          });
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                  infowindow.setContent(markers[i][0]);
                  infowindow.open(map, marker);
              }
          })(marker, i));
      }
  }*/

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkFvDrpm1qwDYDZFL2hE6lDoH63s6DDeE&signed_in=true&callback=initMap"></script> 
  </body>
</html>