<!DOCTYPE html>
<html>
  <head>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Estatísticas</title>
    <style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
 	#table_div{
  }
  #table_div1{
  }
  #table_div2{
  }
       
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
  </head>
  <body>
  <div id="table_div" style="width: 100%; height: 100px; text-align: center !important;"> </div>
  <div style="position:relative;width:100%">
        <div id="table_div1" style="position:absolute;left:0px;top:0px;width: 800px; height: 300px;"></div>
    </div>
  <!-- <div id="table_div1" style="width: 900px; height: 500px;"> </div> -->
   <!-- <div id="table_div2" style="width: 900px; height: 500px;"> </div> -->
    <div style="position:relative;width:100%">
        <div id="table_div2" style="position:absolute;right:0px;top:0px;width: 800px; height: 300px;"></div>
    </div>
    <div style="position:relative;width:100%">
        <div id="table_div3" style="position:absolute;bottom:0px;top:350px;width: 100%; height: 600px;  text-align: center !important;"></div>
    </div>
     
  <script>
    
  google.load('visualization', '1.0', {'packages':['table', 'corechart']});
  //google.charts.load('current', {'packages':['corechart']})

  
//window.alert("1")
  google.setOnLoadCallback(drawChart1);
  google.setOnLoadCallback(drawChart2);
  google.setOnLoadCallback(drawChart);
  google.setOnLoadCallback(drawChart3);


  //drawChart();

  function drawChart() {

          $.getJSON('http://localhost:8000/gmaps/api1/postes', function(userPos) {
            
              
              //window.alert(userPos[0]["0x08"]);
              //window.alert(userPos.length);
              //window.alert(userPos[0][3].length);
                 // Create the data table.
                          //window.alert('oi');
               var data = new google.visualization.DataTable();
               data.addColumn('string', ' ');
               data.addColumn('string', 'Route Request');
               data.addColumn('string', 'Route Reply');
               data.addColumn('string', 'Route Record');
               data.addColumn('string', 'Link Status');
               //data.addColumn('string', 'Total de comandos');
               data.addColumn('string', 'Total');

                data.addRow(["Total", String(userPos[0]["0x01"]), String(userPos[0]["0x02"]) ,String(userPos[0]["0x05"]), String(userPos[0]["0x08"]),String(userPos[0]["tot"])]);
                data.addRow(["Processados", String(userPos[1]["0x01"]), String(userPos[1]["0x02"]), String(userPos[1]["0x05"]) ,String(userPos[1]["0x08"]), String(userPos[1]["tot"])]);

                 var node        = document.getElementById('table_div');
                 var table = new google.visualization.Table(node);
                 table.draw(data, { title: 'Estatísticas dos Pacotes Captados', width: '100%', height: '100%'});


               

          });
        }



        function drawChart1() {

          $.getJSON('http://localhost:8000/gmaps/api1/postes', function(userPos) {
            
             
             var data = new google.visualization.DataTable();
            
              data.addColumn('string', 'Tipo');
              data.addColumn('number', 'Número');
            

             data.addRow(["Route Request",userPos[0]["0x01"]]);
             data.addRow(["Route Reply",userPos[0]["0x02"]]);
             data.addRow(["Route Record",userPos[0]["0x05"]]);
             data.addRow(["Link Status",userPos[0]["0x08"]]);
             //data.addRow(["Total de comandos",userPos[0]["nwk_cmd_tot"]]);
             //data.addRow([ String(userPos[0]["0x05"]),userPos[0]["0x08"],String(userPos[0]["nwk_cmd_tot"])]);

             var node        = document.getElementById('table_div1');
             var table = new google.visualization.PieChart(node);
             table.draw(data, {title: 'Estatísticas dos Pacotes Captados : Total', 'is3d': true,});


               

          });

        }


        function drawChart2() {

          $.getJSON('http://localhost:8000/gmaps/api1/postes', function(userPos) {
            
             
             var data = new google.visualization.DataTable();
            
              data.addColumn('string', 'Tipo');
              data.addColumn('number', 'Número');
              
              
             

             data.addRow(["Route Request ",userPos[1]["0x01"]]);
             data.addRow(["Route Reply",userPos[1]["0x02"]]);
             data.addRow(["Route Record",userPos[1]["0x05"]]);
             data.addRow(["Link Status",userPos[1]["0x08"]]);
             //data.addRow(["Total de comandos",userPos[1]["nwk_cmd_tot"]]);
             //data.addRow([ String(userPos[0]["0x05"]),userPos[0]["0x08"],String(userPos[0]["nwk_cmd_tot"])]);

             var node        = document.getElementById('table_div2');
             var table = new google.visualization.PieChart(node);
             table.draw(data, {title: 'Estatísticas dos Pacotes Captados : Processados', is3d: true,});


               

          });

        }


        function drawChart3() {

          $.getJSON('http://localhost:8000/gmaps/api2/postes', function(userPos) {
            
             //window.alert(userPos[3]);
             var data = new google.visualization.DataTable();
            
             data.addColumn('string', 'Pacotes Route Request');
             data.addColumn('string', 'Pacotes Route Reply');
             data.addColumn('string', 'Pacotes Route Record');
             
             //window.alert(userPos[0].length);
             //if ( userPos[0][0][1][0] == 0)
             //window.alert(userPos[0][4][1][1][0].relayList);
             for (var i = 0 ; i <= userPos[0].length - 1; i++) {
              if (userPos[0][i][1][0] != 0 || userPos[1][i][1][0] != 0 || userPos[2][i][1][0] || 0)
              data.addRow([String(userPos[0][i][0]),String(userPos[1][i][0]),String(userPos[2][i][0])]);

             }
                 var node        = document.getElementById('table_div3');
                 var table = new google.visualization.Table(node);

                          function selectHandler() {
                              var selectedItem = table.getSelection()[0];
                              //setaniMarkers(null);
                              if (selectedItem) 
                              {
                                /*var value = data.getValue(selectedItem.row,0);
                                for (var k = 0, length = userPos[0].length - 1; k < length ; k++) {
                                      if(userPos[0][k][0]==value)
                                      {
                                       
                                        for (j = 0, ength = userPos[0].length - 1 ) 
                                        sellrows.push(...);
                                      }*/
                                      window.alert(selectedItem);
                                }
                                //selflag = 1;
                              
                          }
                          google.visualization.events.addListener(table, 'select', selectHandler);

            
              table.draw(data, { title: 'Estatísticas dos Pacotes Captados', width: '100%', height: '100%'});


               

          });

        }


      


   


 


              
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkFvDrpm1qwDYDZFL2hE6lDoH63s6DDeE&signed_in=true&callback=initMap"></script> 
  </body>
</html>