<!DOCTYPE html>
<html>
  <head>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Estatísticas</title>
    <style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
 	#table_div{
  }

       
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
  </head>
  <body>
  <div id="table_div"> </div>
     
  <script>
    
  google.load('visualization', '1.0', {'packages':['table']});

  
//window.alert("1")

  google.setOnLoadCallback(drawChart);


  //drawChart();

  function drawChart() {

          $.getJSON('http://localhost:8000/gmaps/api1/postes', function(userPos) {
            
              
              //window.alert(userPos[0]["0x08"]);
              //window.alert(userPos.length);
              //window.alert(userPos[0][3].length);
                 // Create the data table.
                          //window.alert('oi');
               var data = new google.visualization.DataTable();
               data.addColumn('string', ' ');
               data.addColumn('number', 'Requisição de Rota (0x01)');
               data.addColumn('number', 'Resposta de Rota (0x02)');
               data.addColumn('number', 'Registro de Rota (0x05)');
               data.addColumn('number', 'Estado da Ligação(0x08)');
               data.addColumn('string', 'Total de comandos');
               data.addColumn('number', 'Total');

                data.addRow(["Totais", userPos[0]["0x01"], userPos[0]["0x02"] ,userPos[0]["0x05"], userPos[0]["0x08"],String(userPos[0]["nwk_cmd_tot"]),userPos[0]["tot"]]);
                data.addRow(["Processados", userPos[1]["0x01"], userPos[1]["0x02"], userPos[1]["0x05"] , userPos[1]["0x08"], '-' ,userPos[1]["tot"]]);

                 var node        = document.getElementById('table_div');
                 var table = new google.visualization.Table(node);
                 table.draw(data, { title: 'Estatísticas dos Pacotes Captados', width: '100%', height: '100%'});


               

          });

        }



   


 


              
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkFvDrpm1qwDYDZFL2hE6lDoH63s6DDeE&signed_in=true&callback=initMap"></script> 
  </body>
</html>